
img {
  max-width: 40%;
  margin: 20px;
  max-height: 250px;
  clip: rect(200px 200px 200px 200px);
}

.myChartDiv {
  display: flex;
  justify-content: center;
  height: 100px;
  margin-bottom: 300px;
}

button {
  background-color: red;
  width: 180px;
  height: 60px;
  color: white;
  border: none;
  font-family: sans-serif;
  font-size: 18px;
  margin: 5px;
}

section {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}
